includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src
        - database
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    ignoreErrors:
        - '#Trait [a-zA-Z0-9\\_] is used zero times and is not analysed.#'
